*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.bg {
    background-image: url(./Image/about2.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    
}
nav{
    height: 18vh;
    /* background-color: black; */
    display: flex;
    justify-content: space-around; 
}
.logo img{
    height: 90px;
    width: 100px;
}
.li1{
    height: 30px;
    width: 500px;
}
.li1 ul{
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}
.li1 ul li{
    list-style: none; 
    
}
.li1 ul li a {
    text-decoration: none;
    color: azure;
}
.li2{
    height: 30px;
    width: 500px;
}
.li2 ul{
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}
.li2 ul li{
    list-style: none; 
    
}
.li2 ul li a {
    text-decoration: none;
    color: azure;
}
.para1{
    /* font-weight: bold;  */
    font-size: 40px;
    text-align: center;
    color: rgb(252, 242, 231);
    padding-top: 120px;
}


/* hero-section */
.aboutt{
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box1{
    line-height: 25px;  
    margin-left: 10px;
    margin-right: 10px;
    background-color:  rgb(237, 227, 217);
    text-align: center;
    margin-top: 40px;
    border-radius: 10%;
    height: 350px;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(83, 12, 12);
}
.box1:hover{
    transform: scale(1.1,1.1);
}
.aboutt h3{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.box1 .p1{
    padding-bottom: 10px;
}
/* .box1 button{
    margin-top: 40px;
    height: 35px;
    width: 150px;
    border: none;
    color: rgb(237, 227, 217);
    background-color: rgb(83, 12, 12);
} */
.box2{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(237, 227, 217);
    background-color:  rgb(83, 12, 12);
    text-align: center;
    margin-top: 40px;
    border-radius: 10%;
    height: 350px;
    width: 350px;
    line-height: 25px;
    border: 1px solid rgb(83, 12, 12);
     padding-left: 10px;
    padding-right: 10px;
}
.box2:hover{
    transform: scale(1.1,1.1);
}
.box2 .p1{
    padding-bottom: 10px;
}
.box2 button{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    height: 35px;
    width: 150px;
    border: none;
    color: rgb(83, 12, 12);
    background-color: rgb(237, 227, 217);
}
/* .bt button{
    margin-top: 10px;
    height: 35px;
    width: 150px;
    border: none;
    color: rgb(237, 227, 217);
    background-color: rgb(83, 12, 12);
} */
.vm{
    margin-top: 80px;
    background-color: rgb(83, 12, 12);
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.vm .para2{
    line-height: 25px;
    padding-top: 20px;
    margin-top: 50px;
    text-align: center;
    height: 250px;
    width: 800px;
    
    /* border: 1px solid white; */
    color: rgb(237, 227, 217);
}
.vm h3{
    font-size: 30px;
    
}
.image img{
    margin-top: 10px;
    height: 350px;
    width: 360px;
     border-radius: 5%;
} 
.image{
    text-align: center;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    
    /* flex-wrap: wrap; */
    gap: 50px;
}
.image p{
    padding-top: 15px;
}
.title p{
    margin-top: 40px;
    height: 50px;
    background-color: rgb(83, 12, 12);
    color: rgb(237, 227, 217) ;
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
}
.te{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.te img{
    margin-top: 40px;
}
.te p{
    height: 200px;
    width: 480px;
    margin-top: 150px;
    /* margin-left: 100px; */
    border: 1px solid rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}
.member img{
    margin-bottom: 10px;
    height: 180px;
    width: 170px;
    border-radius: 50%;
}
.member p{
    font-size: 18px;
}
.member{
    margin-top: 40px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 40px;
}

/* footer */
.footer{
    margin-top: 30px;
     padding-top: 30px;
     background-color: rgb(237, 227, 217);
     height: 500px;
}
.about{
    text-align: justify;
    height: 470px;
    width: 400px;
    border: 1px solid rgb(237, 227, 217) ;
}
.about p{
    line-height: 20px;
}
.about h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    color: rgb(83, 12, 12);
}
.direct p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}
.direct li{
    list-style: none;
    text-align: center;
}
.direct li a {
    text-decoration: none;
    color: black;
    line-height: 40px;
}
.direct{
    padding-top: 30px;
    width: 220px;
    border: 1px solid rgb(237, 227, 217);
}
.follow{
    padding-top: 70px;
}
.follow .icon{
    text-align: center;
    margin-left: 10px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.map iframe{
    margin-top: 20px;
    height: 400px;
    width: 500px;
}
.subscribe{
    /* padding-top: 10px; */
    margin-bottom: 30px;
}
.subscribe input{
    height: 40px;
    width: 300px;
    border: none;
    margin-left: 55px;
    margin-top: 20px;
    padding-left: 10px;
}
.sss{
    display: flex;
}
.sss input{
    height: 40px;
    width: 300px;
    border: none;
    margin-top: 20px;
}
.sss button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: green;
    color: white;
    margin-top: 20px;
    border-radius: 0%;
}
button:hover{
    opacity: 0.7;
}





@media(min-width:350px) and (max-width:780px){
      .box1{
        height: 350px;
        width: 350px;
      }
      .image{
        overflow: scroll;

        row-gap: 30px;
        margin-left: 20px;
        margin-right: 20px;
      }
      /* .te img{
        transform: scale(0.8,0.8);
      } */
      .te{
        justify-content: center;
      }
      .member{
        
        overflow: scroll;
        margin-left: 20px;
        margin-right: 20px;
        
         width:auto;
         height: 250px;
      }
      .footer{
        display: block;
        justify-items: center;
        height: auto;
    }
    .te p{
        margin-bottom: 30px;
    }
    .map iframe{
        height: auto;
        width: auto;
    }
    .about{
        width: 320px;
    }
    .te img{
        width: 300px;
        height: auto;
    }
    .te p{
        width: auto;
    }
    .direct{
        margin-top: 50px;
    }
    .vm{
        height: 340px;
    }
    .sss input{
        width: 150px;
    }
    .subscribe button{
        width: 60px;
    }
      
}
@media(min-width:780px) and (max-width:1100px){
    .footer{
        display: block;
        height: auto;
        justify-items: center;
    }
    .image{
        overflow: scroll;
        height: 410px;
    }
}