*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.bg {
    background-image: url(./Image/mainbgg.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}
nav{
    height: 18vh;
    /* background-color: black; */
    display: flex;
    justify-content: space-around; 
}
.logo img{
    height: 90px;
    width: 100px;
}
.li1{
    height: 30px;
    width: 500px;
}
.li1 ul{
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}
.li1 ul li{
    list-style: none; 
    
}
.li1 ul li a {
    text-decoration: none;
    color: azure;
}
.li2{
    height: 30px;
    width: 500px;
}
.li2 ul{
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}
.li2 ul li{
    list-style: none; 
    
}
.li2 ul li a {
    text-decoration: none;
    color: azure;
}
.title p{
    margin-top: 220px;
    text-align: center;
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    
}
.menu{
    margin-top: 40px;
}
.menuu ul li{
    list-style: none;
}
.menuu ul li a{
    text-decoration: none;
    color: white;
    text-align: center
}










.hero-section{
    height: 300vh;
}
.para1 p{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}
.people{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    justify-content: space-evenly;
}

.people img{
    height: 400px;
    width: 300px;
    border-radius: 10%;
}
.people img:hover{
    
    transform: scale(1.1,1.1);
}
.people p{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
.company{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    height: 240px;
    background-color: rgb(83, 12, 12);
}

 .wel p{
    font-size: 30px;
      color: rgb(245, 242, 237);
      padding-bottom: 20px;
      text-align: center;
 }
 .wel1 p{
   
    text-align: center;
    font-family: "Roboto Slab", serif;
    line-height: 25px;
    color: rgb(245, 242, 237);
 }
.para2 p{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}
.occasion{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-evenly;
}
.occasion img{
    height: 400px;
    width: 300px;
    border-radius: 10%;
}
.occasion img:hover{
    transform: scale(1.1,1.1);
}
.occasion p{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
.service{
    text-align: center;
    margin-top: 40px;
    padding-top: 25px;
    height: 360px;
    background-color: rgb(83, 12, 12);
}
.service img{
    height: 200px;
    width: 200px;
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 10px;
}
.service p{
    font-size: 18px;
    color:rgb(245, 242, 237) ;
}
.serve{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 30px;
     
}
.sp p{
    font-size: 30px;
    font-weight: 900px;
}
.para3 h1{
    margin-top: 40px;
    padding-bottom: 20px;
}
.para3 p{
    padding-bottom: 20px;
}
.form1 input{
    height: 150px;
    width: 350px;
    padding-bottom: 120px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.reply{
    padding-top: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 18px grey;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 500px;
    /* border: 1px solid black; */
}
.reply button{
    height: 30px;
    width: 180px;
    border: none;
    background-color: green;
    color: white;
}
.reply input{
    border: none;
}

.form2 input{
    height: 40px;
    width: 350px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.form3 input{
    height: 40px;
    width: 350px;
    margin-bottom: 20px;
    padding-left: 10px;
}
/* video */

.video video{
    height: 500px;
    width: 300px;
    border-radius: 10%;
}
.vv{ 
    height: 550px; 
    display: flex;
    justify-content: space-evenly; 
     
}
.video p{
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
   
}


/* footer */
.footer{
padding-top: 30px;
     background-color: rgb(237, 227, 217);
     height: 500px;
}
.about{
    text-align: justify;
    height: 470px;
    width: 400px;
    border: 1px solid rgb(237, 227, 217) ;
}
.about p{
    line-height: 20px;
}
.about h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    color: rgb(83, 12, 12);
}
.direct p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}
.direct li{
    list-style: none;
    text-align: center;
}
.direct li a {
    text-decoration: none;
    color: black;
    line-height: 40px;
}
.direct{
    padding-top: 30px;
    width: 200px;
    border: 1px solid rgb(237, 227, 217);
}
.follow{
    padding-top: 70px;
}
.follow .icon{
    text-align: center;
    margin-left: 10px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.map iframe{
    margin-top: 20px;
    height: 400px;
    width: 500px;
}
.subscribe{
    /* padding-top: 10px; */
    margin-bottom: 30px;
}
.subscribe input{
    height: 40px;
    width: 300px;
    border: none;
    margin-left: 55px;
    margin-top: 20px;
    padding-left: 10px;
}
.sss{
    display: flex;
}
.sss input{
    height: 40px;
    width: 300px;
    border: none;
    margin-top: 20px;
    padding-left: 10px;
}
.sss button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: green;
    color: white;
    margin-top: 20px;
    
}
button:hover{
    opacity: 0.7;
}







@media(min-width:350px) and (max-width:780px){    
    .people{
        column-gap: 30px;
        overflow: scroll;
        height: 470px;
    }
    .company{
        height: auto;
    }
    .occasion{
        column-gap: 30px;
        overflow: scroll;
        height: 480px;
    }
    .footer{
        display: block;
        height: auto;
        justify-items: center;
    }
    .direct{
        margin-top: 50px;
    }
    .follow{
        padding-bottom: 20px;
    }
    .serve{
        height: 290px;
        overflow: scroll;
        gap: 50px;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .li2{
        gap: 10px;
    }
    .p1 img{
        width: 300px;
    }
    .reply{
        width: 330px;
        margin-top: 40px;
    }
    .form1 input{
        width: 150px;
    }
    .form2 input{
        width: 150px;
    }
    .form3 input{
        width: 150px;
    }
    .map iframe{
        height: auto;
        width: auto;
    }
    .about{
        width: 320px;
    }
    .sss input{
        width: 150px;
    }
    .subscribe button{
        width: 60px;
    }
    .vv{
        width: auto;
        overflow: scroll;
        margin-left: 20px;
        margin-right: 20px;
        gap: 20px;
    }
    
}
@media(min-width:780px) and (max-width:1100px){
    .footer{
        display: block;
        height: auto;
        justify-items: center;
    }
    .people{
        overflow: scroll;
        gap: 30px;
        height: 470px;
    }
    .occasion{
        overflow: scroll;
        gap: 30px;
        height: 480px;
    }
    .vv{
        width: auto;
        overflow: scroll;
        gap: 20px;
    }
}
    /* .ul li a{
        display: block;
    }
    .li1{
        display: none;
    }
    .li2{
        display: none;
    }
     .nav1{
        display: block;
    } 
} */
