*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.bg {
    background-image: url(./Image/spaaa.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}
nav{
    display: flex;
    justify-content: space-around; 
}
.logo img{
    height: 90px;
    width: 100px;
}
.li1{
    height: 30px;
    width: 500px;
}
.li1 ul{
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}
.li1 ul li{
    list-style: none; 
    
}
.li1 ul li a {
    text-decoration: none;
    color: azure;
}
.li2{
    height: 30px;
    width: 500px;
}
.li2 ul{
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}
.li2 ul li{
    list-style: none; 
    
}
.li2 ul li a {
    text-decoration: none;
    color: azure;
}
.dish{
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 255px;
    text-align: center;
}
/* hero-section */
.cheese{
    height: 560px;
    width: 450px;
    padding: 20px;
    /* border: 1px solid black;  */
}
.box2{
    height: 540px;
    width: 430px;
    /* border: 1px solid black; */
}
.balls img{
    height: 400px;
    width: 390px;
    border-radius: 10%;
}
.balls{
    gap: 10px;
    display: flex;
    height: 420px;
    width: 410px; 
    overflow: scroll;
    /* border: 1px solid black;  */
}
.si img{
    height: 100px;
    width: 120px;
    border-radius: 10%;
}
.si{
    display: flex;
    width: auto;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}
.box1{
    height: 590px;
    /* width: auto; */
    /* border: 1px solid black; */
}
.hero-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box1{
    box-shadow: 2px 2px 15px gray;
    display: flex;
    padding: 15px;
    margin-top: 70px;
}
.start p{
    font-size: 15px;
    color: rgb(74, 73, 73);
}
.box2{
    padding-left: 15px;
    padding-top: 10px;
}
.para1{
    font-size: 23px;
    padding-top: 10px;
    font-weight: bold;
}
.rp{
    padding-left: 10px;
    font-size: 15px;
}
.star{
    padding-top: 15px;
    display: flex;
}
.price{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.para2{
    padding-top: 20px;
    color: rgb(101, 99, 99);
}
.para3{
    padding-top: 20px;
}
.p3{
    padding-top :10px;
     color: rgb(101, 99, 99);
}
.quantity{
    margin-top: 15px;
}
.no{
    margin-top: 15px;
    display: flex;
}
input{
     height: 30px;
     width: 90px;
     text-align: center;
     margin-left: 40px;
}
.no p{
    margin-top: 2px;
}
button{
    border-radius: 2%;
    margin-top: 20px;
    height: 30px;
    width: 150px;
    background-color: green;
    color: white;
    border: none;
}
.payment img{
    margin-top: 10px;
    height: 50px;
    width: 50px;
}
.payment{
    height: 70px;
    width: 230px;
} 

/* hero */

.hero{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 .discribe{
    line-height: 22px;
    height:500px;
    width: 600px;
    border: 1px solid rgb(255, 255, 255); 
    padding: 20px;
}
.description h2{
    padding-bottom: 50px;
    padding-top: 10px;
}
.review h2{
    padding-bottom: 50px;
    padding-top: 10px;
}
.review{
    height:500px;
    width: 600px;
    /* border: 1px solid black; */
    /* padding: 20px; */
    
}
.r{
    display: flex;
    text-align: center;
    padding-left: 20px;
}
.stars{
    padding-top: 10px;
}
.r p{
    padding-top: 11px;
    padding-left: 5px;
    color: rgb(101, 99, 99);
}
.re p{
    color: rgb(62, 61, 61);
    padding-top: 15px;
}
.rate1{
    text-align: center ;
    height: 130px;
    width: 160px;
    /* border: 1px solid black; */
}
.review1{
    display: flex;
}
progress{
    width: 300px;
    margin-left: 10px;
}
.rate2{
    padding-left: 25px;
    line-height: 20px;
}
.star1{
    display: flex;
}
.star1 p{
    font-size: 12px;
}
.re1 .p1{
    padding-top: 30px;
    font-size: 20px;
}
.p1 p{
    font-size: 14px;
}
.box3{
    margin-top: 20px;
    height: 170px;
    width: 550px;
    /* border: 1px solid black; */
}
.m1 img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.m1{
    display: flex;
    padding: 10px;
}
.name{
    padding-left: 30px;
}
.pr{
    font-size: 14px;
}
.box3{
    padding: 10px;
    overflow: scroll;

}

/* suggestion */
/* .suggestion{
    margin-top: 50px;
} */
.pp p{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}
.suggest img{
    height: 200px;
    width: 350px;
    border-radius: 10%;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 10px;
}
.suggest img:hover{
    opacity: 0.8;
    transform: scale(1.1,1.1);
}
.suggest p{
    color: rgb(74, 73, 73);
    
}
.suggest{
    height:300px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 30px;
    margin-top: 30px;
}


/* footer */
.footer{
    margin-top: 30px;
padding-top: 30px;
     background-color: rgb(237, 227, 217);
     height: 500px;
}
.about{
    text-align: justify;
    height: 470px;
    width: 400px;
    border: 1px solid rgb(237, 227, 217) ;
}
.about p{
    line-height: 20px;
}
.about h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    color: rgb(83, 12, 12);
}
.direct p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}
.direct li{
    list-style: none;
    text-align: center;
}
.direct li a {
    text-decoration: none;
    color: black;
    line-height: 40px;
}
.direct{
    padding-top: 30px;
    width: 200px;
    border: 1px solid rgb(237, 227, 217);
}
.follow{
    padding-top: 70px;
}
.follow .icon{
    text-align: center;
    margin-left: 10px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.map iframe{
    margin-top: 20px;
    height: 400px;
    width: 500px;
}
.subscribe{
    /* padding-top: 10px; */
    margin-bottom: 30px;
}
.subscribe input{
    height: 40px;
    width: 300px;
    border: none;
    margin-left: 55px;
    margin-top: 20px;
    padding-left: 10px;
}
.sss{
    display: flex;
}
.sss input{
    height: 40px;
    width: 300px;
    border: none;
    margin-top: 20px;
}
.sss button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: green;
    color: white;
    margin-top: 20px;
    border-radius: 0%;
}
button:hover{
    opacity: 0.7;
}
@media(min-width:350px) and (max-width:780px){
    .footer{
       justify-items: center;
       display: block;
        height: auto;
    }
    .follow{
        padding-bottom: 20px;
    }
    .map iframe{
        height: auto;
        width: auto;
    }
    .about{
        width: 320px;
    }
    .sss input{
        width: 150px;
    }
    .subscribe button{
        width: 60px;
    }
    .direct{
        margin-top: 50px;
    }
    
    .box1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
    }
    .box1{
        height: auto;
    }
    .suggest{
        overflow: scroll;
        margin-left: 10px;
        margin-right: 10px;
    }
    .discribe{
        overflow: scroll;
        width: auto;
        height: 400px;
    }
    .hero{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom:160px;
    }
    .review1{
        display: block;
    }
    .box3{
        width: auto;
    }
    .rate2 progress{
        width: 200px;
    }
    .rate2{
        padding-bottom: 30px;
    }
    .box1{
        margin-left: 10px;
        margin-right: 10px;
        width: 320px;
    }
    .balls{
        width: 250px;
        height: 380px;
    }
    .balls img{
        height: 370px;
        width: 280px;
    }
    .si img{
        height: 80px;
        width: 80px;
    }
    .box2{
        height: 640px;
    }
    .cheese{
        height: 500px;
        width: 300px;
    }
    .review1{
        justify-items: center;
    }
     
    
    
}
@media(min-width:780px) and (max-width:1100px){
    .suggest{
        overflow: scroll;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer{
        display: block;
        height: auto;
        justify-items: center;
    }
    .discribe{
        height: 400px;
    }
    .box1{
        width: 800px;
        height: 640px;
    }
    .cheese{
        margin-top: 30px;
    }
    .suggestion{
        margin-top: 20px;
    }
    .review{
        margin-top: 20px;
    }
}